.content {
    width: 80%;
    margin: 100px 100px;
    padding: 10px 10px;
  }

  p{
    text-align-last:left;
  }


.entry-title {
 margin: 50px 50px;
 transform: translate(-50px, -50px);
}

.alignright.size-full.wp-image-922 {
float: right;
margin: 10px;
}
