* { box-sizing: border-box;}

html,body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  height: 10px;
  display: inline-block;
  float: left;
  font-family: 'Bodoni 72 Smallcaps';
  cursor: pointer;
}


.Copyright{
    text-align: center;
    background-color: #212121;
    color: #999999;
    padding: 40px
  }

.main-nav {
  height: 48px;
  background-color: #FFF;
  border-bottom: 1px solid #ccc;
  line-height: 48px;
  text-transform: uppercase;
  padding: 5px 16px;
}

.menu {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.menu li {
  display: inline-block;
}

.menu li > a {
  text-decoration: none;
  color: #404040;
  font-weight: bold;
  padding: 0 14px;
  display: block;
  height: 48px;
}

.menu li > a:hover {
  color: #FF4500;
  border-bottom: 4px solid #FF4500;
  transition: 0.2s ease-in;
}

.menu li.close {
  display: none;
  font-size: 36px;
  color: #646464;
  cursor: pointer;
}

.mobile-btn {
  display: none;
  float: right;
  cursor: pointer;
}
/*
This media query hides the horizontal menu and makes the mobile menu button visible
Play around with the max-width for a width that best fits your design
*/
@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: #FFF;
    width: 300px;
    height: 100%;
    z-index: 3;
    transform: translateY(-999px);
    transition: all 200ms ease-in-out;

}
  .menu.open {
    transform: translateX(0);
  }

  .menu li {
    display: block;
    padding: 0 14px;
    border-bottom: 1px solid #e5e5e5;
  }

  .menu li > a {
    border: none;
    border-left: 0 solid transparent;
  }

  .menu li > a:hover {
    border: none;
    border-left: 2px solid #e5e5e5;
  }

  .menu li.close {
    display: block;
    text-align: right;
  }

  .mobile-btn {
    display: inline-block;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    z-index: -1;
    transition: opacity 400ms linear;
  }

  .overlay.open {
    z-index: 1;
    opacity: 1;
  }
}

#logIn{

  padding: 5px 20px;
  height: 2.7rem;
  display: inline-block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background: #f96816;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

#logIn:hover{
    background-color: #000;
  }
}

.trip {
 display: block;
}


#findYourPackage {
   margin-left: 150px;
   position: absolute;
   padding: 10px 40px;
   width: 300px;
   margin-top: 5px;
   background: dimgray;
   color: #AAA;
   text-align: center;
   border-radius: 300px;
   font-size: 24px;
}


#findYourPackage-txt {
   position: absolute;
   padding-top: 170px;
   padding-left: 60px;
   font-size: 20px;
   color: #AAAAAA;
   text-align: center;
}

.findYourPackage-img {
   width: 500px;
   padding-left: 60%;
}

@media only screen and (max-width: 1080px) {
 #findYourPackage {
   margin-left: 100px;
   position: absolute;
   padding: 10px 40px;
   width: 300px;
   margin-top: 5px;
   background: dimgray;
   color: #AAA;
   text-align: center;
   border-radius: 300px;
   font-size: 24px;
 }

 #findYourPackage-txt {
     position: absolute;
     padding-top: 170px;
     padding-left: 60px;
     font-size: 16px;
     color: #AAAAAA;
     text-align: center;
 }

 .findYourPackage-img {
     width: 300px;
     padding-left: 60%;
 }
}

@media only screen and (max-width: 800px) {

 .mySlides-place{
   font-size: 50px;
 }

.findYourPackage-img {
   width: 300px;
   padding-left: 30%;
}

@media only screen and (max-width: 780px) {
 #findYourPackage {
   font-size: 12px;
   width: 150px;
 }

 #findYourPackage-txt {
     padding-top: 90px;
     padding-left: 80px;
     font-size: 10px;
 }


 .findYourPackage-img {
     width: 300px;
     padding-left: 55%;
}

@media only screen and (max-width: 680px) {
 #findYourPackage {
   font-size: 10px;
   left: -70px;
   width: 120px;
 }

 #findYourPackage-txt {
     padding-top: 90px;
     padding-left: 20px;
     font-size: 8px;
 }


 .findYourPackage-img {
     width: 200px;
     padding-left: 55%;
   }
}

.content {
    display: block;
    width: 80%;
    margin: 100px 100px;
    padding-left: 100px;


.entry-title {
 margin: 50px 50px;
 transform: translate(-50px, -50px);
}

.alignright.size-full.wp-image-922 {
float: right;
margin: 10px;
}
