@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.logo {
  height: 10px;
  display: inline-block;
  float: left;
  font-family: 'Bodoni 72 Smallcaps';
  cursor: pointer;
}

.Copyright{
    text-align: center;
    background-color: #212121;
    color: #999999;
    padding: 40px
  }

.main-nav {
  height: 48px;
  background-color: #FFF;
  border-bottom: 1px solid #ccc;
  line-height: 48px;
  text-transform: uppercase;
  padding: 5px 16px;
}

.menu {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.menu li {
  display: inline-block;
}

.menu li > a {
  text-decoration: none;
  color: #404040;
  font-weight: bold;
  padding: 0 14px;
  display: block;
  height: 48px;
}

.menu li > a:hover {
  color: #FF4500;
  border-bottom: 4px solid #FF4500;
  transition: 0.2s ease-in;
}

.menu li.close {
  display: none;
  font-size: 36px;
  color: #646464;
  cursor: pointer;
}

.mobile-btn {
  display: none;
  float: right;
  cursor: pointer;
}
/*
This media query hides the horizontal menu and makes the mobile menu button visible
Play around with the max-width for a width that best fits your design
*/
@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: #FFF;
    width: 300px;
    height: 100%;
    z-index: 3;
    transform: translateY(-999px);
    transition: all 200ms ease-in-out;

}
  .menu.open {
    transform: translateX(0);
  }

  .menu li {
    display: block;
    padding: 0 14px;
    border-bottom: 1px solid #e5e5e5;
  }

  .menu li > a {
    border: none;
    border-left: 0 solid transparent;
  }

  .menu li > a:hover {
    border: none;
    border-left: 2px solid #e5e5e5;
  }

  .menu li.close {
    display: block;
    text-align: right;
  }

  .mobile-btn {
    display: inline-block;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    z-index: -1;
    transition: opacity 400ms linear;
  }

  .overlay.open {
    z-index: 1;
    opacity: 1;
  }
}

#logIn{

  padding: 5px 20px;
  height: 2.7rem;
  display: inline-block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background: #f96816;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

#logIn:hover{
    background-color: #000;
  }
}

.grid-section{
  max-width: 80%;
  margin: 0 auto;
  padding: 6% 2%;
}

.grid{
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
}

.grid::after{
  clear: both;
}

.grid::after, .xop-box:before{
  content: "";
  display: table;
}

.grid li{
  width: 600px;
  height: 600px;
  display: inline-block;
  margin: 20px;
}

.xop-box{
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -moz-transition:0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.xop-box:hover{
  transform: scale(1.05);
}

.box-img-1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url("../images/Webp.net-resizeimage (1).jpg");
}
.box-img-2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url("../images/Webp.net-resizeimage (2).jpg");
}
.box-img-3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url("../images/Webp.net-resizeimage (3).jpg");
}

.box-img-4{
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url("../images/Webp.net-resizeimage (4).jpg");
}
.box-img-5{
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url("../images/Webp.net-resizeimage (5).jpg");
}


h3{
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  color: #fff;
  font-size: 42px;
  margin: 0 30px;
  padding: 100px 0 0 0;
  line-height: 1.5;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}
