
* { box-sizing: border-box;

}

html,body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  height: 10px;
  display: inline-block;
  float: left;
  font-family: 'Bodoni 72 Smallcaps';
}

.main-nav {
  height: 48px;
  background-color: #FFF;
  border-bottom: 1px solid #ccc;
  line-height: 48px;
  text-transform: uppercase;
  padding: 5px 16px;
}

.menu {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.menu li {
  display: inline-block;
}

.menu li > a {
  text-decoration: none;
  color: #404040;
  font-weight: bold;
  padding: 0 14px;
  display: block;
  height: 48px;
}

.menu li > a:hover {
  color: #FF4500;
  border-bottom: 4px solid #FF4500;
  transform: translateY(-5px);
  transition: 0.2s ease-in;
}

.menu li.close {
  display: none;
  font-size: 36px;
  color: #646464;
  cursor: pointer;
}

.mobile-btn {
  display: none;
  float: right;
  cursor: pointer;
}
/*
This media query hides the horizontal menu and makes the mobile menu button visible
Play around with the max-width for a width that best fits your design
*/
@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: #FFF;
    width: 300px;
    height: 100%;
    z-index: 3;
    transform: translateX(300px);
    transition: all 200ms ease-in-out;
  }

  .menu.open {
    transform: translateX(0);
  }

  .menu li {
    display: block;
    padding: 0 14px;
    border-bottom: 1px solid #e5e5e5;
  }

  .menu li > a {
    border: none;
    border-left: 2px solid transparent;
  }

  .menu li > a:hover {
    border: none;
    border-left: 2px solid #7cb228;
  }

  .menu li.close {
    display: block;
    text-align: right;
  }

  .mobile-btn {
    display: inline-block;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    z-index: -1;
    transition: opacity 100ms linear;
  }

  .overlay.open {
    z-index: 1;
    opacity: 1;
  }
}

#hero-img-txt {
  color: #fff;
  font-size: 6em;
}

.hero {
  padding: 10% 0;
  left: 0;
  right: 0;
  background-image: url(cinqueterreuntitled--.jpg);
  background-color: rgba(0, 0, 0, 5);
  background-size: cover;
  z-index: -5;
}

.popularPlace-h1 {
  text-align: center;
  padding: 10px;
  margin-top: -5%;
  margin-bottom: 5%;
  overflow: hidden;
  font-size: 2.2em;
  letter-spacing: 5px;
}

.paketat {
  margin: 10% 100px;
}

.img-Popular-package {
  position: relative;
  width: 120px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 1100px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 20%;
}

.container {
  padding: 0 10%;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%;
      transform: translateY(-100px);
      transition: 4s ease;}
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: 100%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 400%;
  margin: 10%;
  left: 10%;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
}
