html {
  font-size: -moz-calc(4px + 0.45vw);
  font-size: -webkit-calc(4px + 0.45vw);
  font-size: calc(4px + 0.45vw);
  height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
a {
    text-decoration: none;
    color: #000;
}

.main {
    background-color: #fff;
    max-width: 100%;
    margin: 0 auto;
}

header {
    line-height: 12rem;
    height: 12rem;
    list-style-type: none;
}

header h1 {
    font-size: 3.0em;
    font-family: 'Oswald', sans-serif;
}

header ul::after {
    content: '';
    display: table;
    clear: both;
    list-style-type: none;
}

header li {
    float: left;
    width: 18.5%;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
}

header li:nth-child(4) {
    width: 25%;
}

header li a {
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.text {
    font-size: 2rem;
    padding: 2rem 0;
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
}

.text p {
    margin-bottom: 2rem;
}

#hero-img-txt {
  color: #fff;
  font-size: 6em;
}

.hero {
  padding: 10% 0;
  left: 0;
  right: 0;
  background-image: url(cinqueterreuntitled--.jpg);
  background-color: rgba(0, 0, 0, 5);
  background-size: cover;
  z-index: -5;
}

.popularPlace-h1 {
  text-align: center;
  padding: 10px;
  margin-top: -5%;
  margin-bottom: 5%;
  overflow: hidden;
  font-size: 2.2em;
  letter-spacing: 5px;
}

.paketat {
  margin: 10% 100px;
}

.img-Popular-package {
  position: relative;
  width: 120px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 1100px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 20%;
}

.container {
  padding: 0 100px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 800px) {
    header ul li:not(:nth-child(4)) {
        display: none;
    }
    header ul li:nth-child(4) {
        width: 100%;
    }

@media screen and ( max-width: 550px ) {
    .content {
      padding-right: 2rem;
    }
}
